doctype html
html
    head
        title #{post.title}
        meta(http-equiv="X-UA-Compatible", content="IE Edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", type="text/css", href="/assets/normalize.css")
        link(rel="stylesheet", type="text/css", href="/assets/octicons/octicons.css")
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Cardo:400italic|Chivo")
        link(rel="stylesheet", type="text/css", href="/assets/style.css")
    body
        .header
            a(href="/")
                span.mega-octicon.octicon-home
                    .title-div Home
        .content
            .postHeader
                h1.postTitle #{post.title}
                h2.postSubtitle #{post.subtitle} 
                span #{post.date}
            .markdown
              != md(post.content)
            .postFooter
                p.
                    Faure is a Computer Science with Management student at King's College London.
                    He's studying Artificial Intelligence and blogs mostly about it. Occassionally will write about
                    his media induced paranoia.
                    Got something to say? Feel free to #[a(href=post.link) tweet].
